# OS
.DS_Store
Thumbs.db

# Env
.env
.env.dispatcher.real

# Logs
*.log

# Go
bin/
*.test
coverage.out

# Python
__pycache__/
*.pyc
.venv/

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.vscode/settings.json
.idea/
